<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kiel.aspek">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUPActivity" />
        <activity android:name=".SelectDeparture" />
        <activity android:name=".SelectDestination" />
        <activity android:name=".OfficerMenu" />
        <activity android:name=".InputBike" />
        <activity android:name=".CountDown" />
        <activity android:name=".LoginStudent" />
        <activity android:name=".LoginOfficer" />
        <activity android:name=".user_manual" />
        <activity android:name=".Receive_bike" />
        <activity android:name=".SelectShelter" />
        <activity android:name=".UserManual2" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".SignUPActivity2"></activity>
    </application>

</manifest>